@model Booking_WEB.Models.User.UserProfilePageModel
@using System.Security.Claims;
@{
    ViewData["Title"] = "Profile";
}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="card shadow-sm rounded-3 mx-auto">
                <button data-profile="personal-details" id="personal-details-button" class="profile-button"><div class="d-flex align-items-center"><i class="bi bi-person-circle profile-options-icon mx-2"></i><span class="align-middle mx-3">Personal details</span></div></button>
                <button data-profile="payment-methods" id="payment-methods-button" class="profile-button"><div class="d-flex align-items-center"><i class="bi bi-credit-card-fill profile-options-icon mx-2"></i><span class="align-middle mx-3">Payment methods</span></div></button>
            </div>
        </div>

        <div  class="col-lg-9">
            <div class="card shadow-sm rounded-3 p-4 p-md-5 mx-auto" style="max-width: 900px;">
                <!-- PERSONAL DETAILS -->
                <div data-page="personal-details" class="container">
                    <div class="d-flex align-items-start justify-content-between mb-2 mb-md-2">
                        <div>
                            <h1 class="h3 fw-bold text-dark-emphasis">Personal details</h1>
                            <p class="text-secondary mb-0">Update your info and find out how it's used.</p>
                        </div>
                    </div>

                    <hr/>

                    <div class="divide-y divide-light">
                        <div id="name-field" class="profile-field-item py-4">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <h3 class="h6 fw-semibold text-dark mb-1">Name</h3>
                                    <div class="static-view">
                                        <span class="text-secondary" data-value-name><span data-editable="FirstName">@Model.FirstName</span> <span data-editable="LastName">@Model.LastName</span></span>
                                    </div>
                                    <div class="edit-view d-none">
                                        <div class="row g-3 mt-2">
                                            <div class="col-md-6">
                                                <label class="form-label text-secondary-emphasis small">First name(s) <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" data-input-first-name value="@Model.FirstName">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label text-secondary-emphasis small">Last name(s) <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" data-input-last-name value="@Model.LastName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 text-md-end mt-3 mt-md-0">
                                    <button class="btn btn-outline-primary edit-btn" data-field="name" id="edit-profile-btn">Edit</button>
                                    <button id="delete-profile-btn" title="Delete" class="btn btn-outline-danger col"><i class="bi bi-trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <div id="email-field" class="profile-field-item py-4">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <h3 class="h6 fw-semibold text-dark mb-1">Email address</h3>
                                    <div class="static-view">
                                        <span class="text-secondary" data-value-email><span data-editable="Email">@Model.Email</span></span>
                                    </div>
                                    <p class="text-secondary small mt-1 mb-0">This is the email address you use to sign in. It's also where we send your booking confirmations.</p>
                                    <div class="edit-view d-none mt-2">
                                        <input type="email" class="form-control" data-input-email value="@Model.Email">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 text-md-end mt-3 mt-md-0">
                                </div>
                            </div>
                        </div>

                        <div id="dob-field" class="profile-field-item py-4">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <h3 class="h6 fw-semibold text-dark mb-1">Date of birth</h3>
                                    <div class="static-view">
                                        @if (Model.Birthdate != null)
                                        {
                                            <span class="text-secondary fst-italic" data-value-dob>@Model.Birthdate</span>
                                        }
                                        else
                                        {
                                            <span class="text-secondary fst-italic" data-value-dob>Enter your date of birth</span>
                                        }
                                    </div>
                                    <div class="edit-view d-none mt-2">
                                        <input type="date" class="form-control" data-input-dob>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 text-md-end mt-3 mt-md-0">
                                </div>
                            </div>

                            <div id="member-since-field" class="profile-field-item py-4">
                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <h3 class="h6 fw-semibold text-dark mb-1">Member since</h3>
                                        <div class="static-view">
                                            <span class="text-secondary fst-italic" data-value-phone>@Model.RegisteredAt</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>              
                </div>

                <!-- PAYMENT METHODS -->
                <div data-page="payment-methods" class="container d-none">
                    <div class="d-flex align-items-start justify-content-between mb-2 mb-md-2">
                        <div>
                            <h1 class="h3 fw-bold text-dark-emphasis">Payment methods</h1>
                            <p class="text-secondary mb-0">Securely add or remove payment methods to make it easier when you book.</p>
                        </div>
                    </div>

                    <hr />
                    <div class="profile-field-item py-4">
                        <div id="add-card-field" class="d-flex d-flex flex-row justify-content-between">
                            <div class="w-50">
                                <h3 class="h6 fw-semibold text-dark ">Payment cards</h3>
                            </div>
                            <div class="d-flex w-100 align-items-start">
                                <div class="static-view">
                                    <span class="text-secondary" data-value-email><span>Pay with new card</span></span>
                                </div>
                            </div>
                            <div class="w-100 d-flex justify-content-end">
                                <button class="btn btn-outline-primary edit-btn" id="add-card-button">Add card</button>
                            </div>
                        </div>

                        <form class="container d-none" id="add-card-form">

                            <div>
                                <div class="d-flex justify-content-between align-items-start mb-4">
                                    <h1 class="h5 fw-medium text-gray-800">Payment cards</h1>
                                    <button id="cancel-add-card-button" class="btn btn-link text-decoration-none p-0">Cancel</button>
                                </div>

                                <div class="d-flex align-items-center gap-2 mb-4">
                                    <img src="https://placehold.co/60x38/e0e0e0/ffffff?text=VISA" alt="Visa" class="card-logo shadow-sm">
                                    <img src="https://placehold.co/60x38/e0e0e0/ffffff?text=Amex" alt="Amex" class="card-logo shadow-sm">
                                    <img src="https://placehold.co/60x38/e0e0e0/ffffff?text=Disc" alt="Discover" class="card-logo shadow-sm">
                                    <img src="https://placehold.co/60x38/e0e0e0/ffffff?text=MC" alt="Mastercard" class="card-logo shadow-sm">
                                    <img src="https://placehold.co/60x38/e0e0e0/ffffff?text=Diners" alt="Diners Club" class="card-logo shadow-sm">
                                </div>


                                <div class="mb-3">
                                    <label for="cardholder-name" class="form-label text-sm fw-medium">Cardholder's name <span class="text-danger">*</span></label>
                                    <input type="text" id="cardholder-name" name="cardholder-name" class="form-control rounded-lg shadow-sm" placeholder="Enter cardholder's name" />
                                    <div class="invalid-feedback"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="card-number" class="form-label text-sm fw-medium">Card number <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-credit-card-2-front "></i></span>
                                        <input type="text" id="card-number" name="card-number" class="form-control rounded-lg shadow-sm form-control-icon" placeholder="0000 0000 0000 0000" />
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>

                                <div class="mb-3 w-50">
                                    <label for="exp-date" class="form-label text-sm fw-medium">Expiration date <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" id="exp-date" name="exp-date" class="form-control rounded-lg shadow-sm" placeholder="MM/YY" />
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="d-flex justify-content-end pt-3">
                                    <button value="send" type="submit" class="btn btn-primary rounded-lg shadow-sm">Save</button>
                                </div>
                            </div>
                        </form>

                        <hr />

                        @foreach(var card in Model.Cards)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-around">
                                        <i class="bi bi-credit-card-2-front"></i>
                                        <h5>@card.Number</h5>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                   
                </div>


            </div>
        </div>
    </div>
    
</div>


@{
    /*
     <div class="text-center">
    <h1 class="display-4">User Profile</h1>
</div>


<div class="row">
    <div class="col col-xxl-6 offset-xxl-3 col-xl-8 offset-xl-2 col-md-10 offset-md-1 col-sm-13">
        @if (Model.IsPersonal == null)
        {
            <div class="alert alert-danger" role="alert">Profile not Found</div>
        }
        else
        {
            <div class="row">
                <div class="col">First Name</div>
                <div class="col" data-editable="FirstName">@Model.FirstName</div>
            </div>
            <div class="row">
                <div class="col">Last Name</div>
                <div class="col" data-editable="LastName">@Model.LastName</div>
            </div>
            <div class="row">
                <div class="col">Registered:</div>
                <div class="col">@Model.RegisteredAt</div>
            </div>
            <div class="row">
                <div class="col">Email:</div>
                <div class="col">
                    <span data-editable="Email">@Model.Email </span>
                    *only with auth
                </div>
            </div>
            if (Model.IsPersonal ?? false)
            {
                <div class="row">
                    <div class="col">Birthdate</div>
                    <div class="col">@Model.Birthdate</div>
                </div>
                <button id="edit-profile-btn" class="btn btn-outline-warning"><i class="bi bi-pen"></i></button>
            }
        }

    </div>
</div>
     <div class="text-center">
    <h1 class="display-4">User Profile</h1>
</div>


<div class="row">
    <div class="col col-xxl-6 offset-xxl-3 col-xl-8 offset-xl-2 col-md-10 offset-md-1 col-sm-13">
        @if (Model.IsPersonal == null)
        {
            <div class="alert alert-danger" role="alert">Profile not Found</div>
        }
        else
        {
            <div class="row">
                <div class="col">First Name</div>
                <div class="col" data-editable="FirstName">@Model.FirstName</div>
            </div>
            <div class="row">
                <div class="col">Last Name</div>
                <div class="col" data-editable="LastName">@Model.LastName</div>
            </div>
            <div class="row">
                <div class="col">Registered:</div>
                <div class="col">@Model.RegisteredAt</div>
            </div>
            <div class="row">
                <div class="col">Email:</div>
                <div class="col">
                    <span data-editable="Email">@Model.Email </span>
                    *only with auth
                </div>
            </div>
            if (Model.IsPersonal ?? false)
            {
                <div class="row">
                    <div class="col">Birthdate</div>
                    <div class="col">@Model.Birthdate</div>
                </div>
                <button id="edit-profile-btn" class="btn btn-outline-warning"><i class="bi bi-pen"></i></button>
            }
        }

    </div>
</div> 
      
     */
}

